<h1>Welcome!</h1>

<% if @error %>
        <p>Error! <%= @error%></p>
<%end %>

<% if session[:user_id] %>
        
        <%= button_to  "Logout", logout_path, method: :post %>
<%else %>
        <%= button_to  "Login", '/login', method: :get %>
        <%= button_to  "Sign Up", '/users/new', method: :get %>
<%end %>


