<div class="parent-flex">
    <div class="title-box-flex">
        <div class="title-flex">
<h1>Welcome!</h1>
</div>
</div>

<div class="main-flex">
<div class="sub-flex">
<div class="content-flex">
<% if @error %>
        <p>Error! <%= @error%></p>
<%end %>

<% if session[:user_id] %>
        <%= button_to  "Logout", logout_path, method: :get %>
<%else %>
        <div class="container p-3 my-3 bg-white">
        <%=render "new"%>
        Not a member yet? <%= link_to  "Sign Up!", '/users/new' %>
        </div>
        <%# button_to  "Login", '/login', method: :get %>
<%end %>
</div>
</div>
</div>
</div>

