<div class="parent-flex">
    <div class="title-box-flex">
        <div class="title-flex">
<h2><%= @station.name %></h2>
</div>
</div>

<div class="station-main-flex">

<h4>Lines: </h4>
    <% @trains.each do |train| %>
        <div class="sub-flex">
        <div class="content-flex">
        Train: <%= train.name %><br>
        Direction: <%= train.destination %><br>
        Times:
        <ul><% train.sort_timetable.each do |arrival|%>
            <li><%= arrival.arrival_time%></li>
        <% end%></ul>
        </div>
        </div>
    <%end %>

</div>
</div>