<h1>Train Lines</h1>

<% @trains.each do |train|%>
    <div class="container p-3 my-3 border">
    <h4>Line: </h4>
    <h5><%= train.name %></h5>
    Line status: <%= train.status %>
    </div>
<%end%>