<div class="parent-flex">
    <div class="title-box-flex">
        <div class="title-flex">
<h1>Train Lines</h1>
</div>
</div>

<div class="trian-main-flex">
<% @trains.each do |train|%>
    <div class="sub-flex">
    <div class="content-flex">
    <h4>Line: </h4>
    <h5><%= train.name %></h5>
    <% if train.status%>
        Line status: <%= train.status %><br>
    <%else%>
        Line status: GOOD SERVICE<br>
    <%end%>

    <% if train.status_description%>
        Description: <%= train.status_description %>
    <%else%>
        Description: GOOD SERVICE
    <%end%>
        
    </div>
    </div>
<%end%>
</div>
</div>