/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  @import "bootstrap";
 


//  p.container{
//      background-color: rgba(255, 255, 255, 0.63);
//  }

 body {
     background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.363)), url("background.jpg");
     background-size: 100% 100%;
     background-attachment: fixed;
 }

 .parent-flex{
     display: flex;
     flex-direction: column;
 }

 .nav-flex{
     display: flex;
     height: 50px;
    }
 .nested-nav-flex{
    display: flex;
 }
 .logout-flex{
     display:flex;
     align-self: flex-end;
 }

 .title-box-flex{
     display: flex;
     height: px;
     justify-content: space-between;
     border: black;
    background-color: white;
    align-items: flex-start;
 }
.title-flex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.utility-flex{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 .main-flex{
    display: flex;
    align-content: space-around;
 }

 .sub-flex{
     display: flex;
     border: black;
     height: auto;
     width: fit-content;
     background-color: white;
     flex-wrap: wrap;
 }